body {
    text-align: center;
}

.board {
    display: grid;
    grid-auto-columns: 1fr; /* Each column occupies an equal fraction of the available width */
    grid-auto-rows: 1fr; /* Each row occupies an equal fraction of the available height */
    margin: 30px 100px;
}

.square {
    width: 100%; /* Each square takes up 100% of its cell's width */
    padding-top: 100%; /* Maintain a 1:1 aspect ratio for each square */
    background-color: black;
    border: 1px solid gray;
}

